@import "variables.scss";

$sans: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: serif;
// $serif: Vollkorn, serif;
$width: 1400px;
// $width: 1024px;
// $breakpoint: get-breakpoint();

body {
  background: #f5f6f9;
}

div#main-container {
  max-width: $width;
  margin: 0 auto;
  // margin: 10px 10px 100px 0;
  // border: 1px black solid;
  padding-right: 20px;


}

.copy {
  font-size: 100%;
  line-height: 133%;
  p {
    margin-bottom: 0.75rem;
  }
  ul {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.75rem;
    }
  }
}

footer {
  background-color: #fff;
  margin-top: 4rem;
  .footer-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.25rem 20px 12rem 0;
    .footer-body {
      line-height: 150%;
    }
  }
}


.clear {
  clear: both;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  line-height: 100%;
  font-size: 16px;
  font-family: $sans;
  // font-family: $serif;
  color: #1a1a1a;
}

p {
  margin: 0;
}

a {
  color: #44b;
  border-bottom: 1px dotted #bbb;
  text-decoration: none;
  font-weight: 500;

  &:visited {
    color: #228;
  }
}

h1 {
  font-family: $sans;
  font-size: 300%;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  hyphens: auto;
  // @media (max-width: 800px) {
  //   font-size: 10vw;
  // }
  // @media (max-width: $breakpoint) {
  //   font-size: 400%;
  //   line-height: 110%;
  //   margin: 0.1em 0;
  // }
}

h2 {
  font-weight: normal;
  // font-style: italic;
  // font-weight: 100;
  // font-size: 133%;
  margin: 0.5rem 0 0 0;
  font-size: 200%;
  // margin: 0 0 0.66em 0;
  // letter-spacing: 0.1em;
  line-height: normal;
  hyphens: auto;
  // @media (max-width: $breakpoint) {
  //   letter-spacing: 0em;
  // }
}

h3 {
  font-family: $sans;
  padding: 0;
  // padding: 0 0 0.5rem 0;
  margin: 0 0 0.75rem 0;
  display: block;
  border: none;
  line-height: 125%;
  hyphens: auto;
  // border-width: 0 0 1px 0;
  // border-style: solid;
  // border-color: #ddd;
  font-size: 130%;
  font-weight: 500;
  font-style: normal;

  &::after {
    content: "";
    display: block;
    margin: 0.75rem -18px 0.75rem;
    border-bottom: 1px solid #eee;
  }
}

.helptip-link {
  padding: 2px 0.5rem;
  color: #99b;
  float: right;
  border: none;
  // cursor: pointer;
}

.helptip {
  display: none;
  @extend .copy;
  font-size: 80%;
  width: 20rem;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f1f2f3;
  padding: 0.75rem;
  padding-bottom: 0;
  left: 0px;
  top: 0px;
  @media (max-width: $breakpoint) {
    width: auto;
  }
  ul {
    li {
      margin-bottom: 0;
    }
  }
  // p {
  //   margin-bottom: 0.25rem;
  // }
}

.helptip-active {
  display: block;
  position: absolute;
}

