@import "variables.scss";

$sans: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: serif;
// $serif: Vollkorn, serif;
$width: 1400px;
// $width: 1024px;
// $breakpoint: get-breakpoint();

body {
  background: #f5f6f9;
}

div#main-container {
  max-width: $width;
  margin: 0 auto;
  // margin: 10px 10px 100px 0;
  // border: 1px black solid;
  padding-right: 20px;


}

.copy {
  font-size: 100%;
  line-height: 133%;
  p {
    margin-bottom: 0.75rem;
  }
  ul {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.75rem;
    }
  }
}

footer {
  background-color: #fff;
  margin-top: 1rem;
  .footer-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.25rem 0 10rem 0;
  }
}


.clear {
  clear: both;
}

html {
  line-height: 100%;
  font-size: 16px;
  font-family: $sans;
  // font-family: $serif;
  color: #1a1a1a;
}

p {
  margin: 0;
}

a {
  color: #44b;
  border-bottom: 1px dotted #bbb;
  text-decoration: none;
  font-weight: 500;

  &:visited {
    color: #228;
  }
}

h1 {
  font-family: $sans;
  font-size: 300%;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  // @media (max-width: 800px) {
  //   font-size: 10vw;
  // }
  // @media (max-width: $breakpoint) {
  //   font-size: 400%;
  //   line-height: 110%;
  //   margin: 0.1em 0;
  // }
}

h2 {
  font-weight: normal;
  // font-style: italic;
  // font-weight: 100;
  // font-size: 133%;
  margin: 0.5rem 0 0 0;
  font-size: 200%;
  // margin: 0 0 0.66em 0;
  // letter-spacing: 0.1em;
  line-height: normal;
  // @media (max-width: $breakpoint) {
  //   letter-spacing: 0em;
  // }
}

h3 {
  font-family: $sans;
  padding: 0;
  // padding: 0 0 0.5rem 0;
  margin: 0 0 0.75rem 0;
  display: block;
  border: none;
  line-height: 125%;
  // border-width: 0 0 1px 0;
  // border-style: solid;
  // border-color: #ddd;
  font-size: 130%;
  font-weight: 500;
  font-style: normal;

  &::after {
    content: "";
    display: block;
    margin: 0.75rem -18px 0.75rem;
    border-bottom: 1px solid #eee;
  }
}


// h2 {
//   font-weight: normal;
//   // font-style: italic;
//   font-weight: 100;
//   font-size: 133%;
//   margin: 0 0 0.66em 0;
//   letter-spacing: 0.1em;
//   line-height: normal;
//   @media (max-width: $breakpoint) {
//     letter-spacing: 0em;
//   }
// }

// .links {
//   font-size: 110%;
//   font-style: italic;
// }

// header {
//   margin-bottom: 3.3em;
// }

// h3 {
//   font-weight: normal;
//   font-style: italic;
//   font-size: 175%;
//   margin: 0 0 0.25em 0;
//   line-height: normal;
// }

// h4 {
//   font-weight: normal;
//   font-style: italic;
//   font-size: 100%;
//   margin: 0;
//   line-height: normal;
// }

// .cvsection {
//   margin: 0 0 2em 0;
// }

// .cvs-wide p {
//   margin: 0 0 0.5em 0;
// }

// .cvline {
//   margin: 0 0 0.5em 0;
// }

// .cventry-heading {
//   margin: 0 0 0.1em 0;
// }

// .cventry-heading > span {
//   margin: 0 0.5em 0 0;
// }

// .cventry-title {
//   font-weight: bold;
// }

// .cventry-institution {
//   font-style: italic;
// }

// .cvline-body strong {
//   font-weight: normal;
//   font-style: italic;
// }

// div#section-skills p {
//   font-size: 95%;
//   line-height: 125%;
//   // font-style: italic;
//   // font-family: $sans;
// }

// a {
//   &:hover {
//     background-color: #eee;
//   }
//   &:visited {
//     color: #224;
//   }

//   text-decoration: none;
//   border-bottom: 1px dotted #bbb;
//   color: #447;
// }

// .cvsection-pretitle, .cvline-desc {
//   text-align: right;
//   @media (max-width: $breakpoint) {
//     text-align: left;
//     margin-top: 1em;
//   }
// }

// .cvsection-pretitle a {
//   font-size: 175%;
//   margin-top: 0.1em;
//   @media (max-width: $breakpoint) {
//     display: none;
//   }
// }
