#ui.unloaded {
  height: 750px;
}

.dialog {
  // border-style: solid;
  margin: 1rem 0.2rem;
  padding: 18px;
  // font-size: 97%;
  // border-width: 1px;
  border-radius: 18px;
  background-color: #ffffff;
}

.axis-options, .dataset-picker {

  span {
    display: block;
    width: 100%;
    font-size: 90%;
    margin: 0;
    color: #666;
  }
  margin-bottom: 1rem;

  select {
      display: block;
      width: 100%;
  }

  ul {
    list-style-type: none;
    padding: 0.1rem;
    margin: 0;
    // text-align: center;
    li {
      display: block;
      margin: 0.3rem 0;
      padding: 0.7rem;
      background: #fcfcff;
      border: 1px solid #eee;
      border-radius: 2px;

      span.picker-slot-name {
        display: inline;
        font-size: 90%;
        font-weight: 500;
        color: #000;
        // color: #1a1a1a;
      }
      .picker-slot-opts span {
        font-size: 80%;
        font-style: italic;
        color: #000;
      }
      a.picker-slot-delete {
        cursor: pointer;
        float: right;
        border: none;
      }
      // margin: 0.3rem 0.3rem;
      // margin: 0;
      // padding: 0;
      // background: #dde;
      // padding: 0.4rem 0.8rem;
      // border-radius: 3px;
      // font-size: 95%;
      // cursor: pointer;

      // &:hover {
      //   background: #e7e7f3;
      // }

    }
  }
}

.dataset-picker {
  padding-bottom: 0.75rem;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f4f5f6;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0.2rem 0.3rem;
  padding: 0.6rem;
  cursor: pointer;
  color: #333;
  &:hover {
    background: #f8f9fa;
  }
}

.loaduri-input {
  // display: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

.plot {
  h3 {
    padding-right: 15rem;

    &:after {
      margin-right: -16.1rem;
    }
  }
}

.plot-buttons {
  // margin-top: 1rem;
  // text-align: right;
  float: right;
  font-size: 75%;
  margin-top: -3.4rem;
  button {
    padding: 0.4rem;
  }
}

.region-picker {
  font-size: 85%;
  margin-top: 0.75rem;
  margin-bottom: -1rem;
  height: 2.5rem;

  input {
    padding: 0.4rem 0.6rem;
    width: 100%
  }

  .region-picker-buttons {
    button {
      padding: 0.4rem 0.5rem;
      margin: 0 0.05rem;
      font-size: 80%;
    }
    text-align: right;
  }

  .autocomplete-widget {
    ul#autocomplete-list-region-select {
      li {
        font-size: 110%;
        padding: 0.3rem 0.6rem;
        margin: 0;
        span.autoComplete_highlighted {
          color: #a33;
        }
        &:last-child {
          border-radius: 0;
        }
      }
    }
    position: relative;
  }

  ul.picked-regions {
    text-align: center;
    list-style-type: none;
    padding: 0 0.5rem;
    margin: 0;
    overflow-y: auto;
    height: 2.25rem;
    background: #fff;

    // text-align: center;
    li {
      display: inline-block;
      margin: 0.05rem 0.5rem 0.05rem 0;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        font-weight: bold;
        font-size: 110%;
      }
    }

    &:hover {
      height: auto;
      padding-bottom: 0.5rem;
      position: relative;
      border: 1px solid #ddd;
      border-top: 0;
    }
  }
}

.welcome {

  font-size: 100%;
  line-height: 120%;

  p {
    margin-bottom: 0.75rem;
  }
  ul {
    padding-left: 1.5rem;
    li {
      margin-bottom: 0.75rem;
    }
  }

  h3 {
    margin-bottom: 1.2rem;
    font-size: 150%;
    margin-top: 0.25rem;
    line-height: 95%;
  }

  a.dataview {
    font-weight: bold;
  }

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f5f6f7;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: none;
  border-radius: 2px;
  margin: 0 2rem 0.6rem 0;
  padding: 0.6rem;
  padding-right: 2rem;
}

.model-picker {
  span {
    display: block;
    width: 100%;
    font-size: 90%;
    margin: 0;
    color: #666;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      padding-bottom: 0.5rem;
      display: block;
      font-size: 90%;
    }
  }

  .model-pick-lookback, .model-pick-forecast{
    margin-top: 0.3rem;
    width: 40%;
    margin-right: 8%;
    display: inline-block;
    font-size: 95%
  }

  input {
    padding: 0.3rem;
  }

}


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0 0 0.3rem 0;
  padding: 0.6rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  // padding-right: 2rem;
}

.linear-zero {
  padding: 0;
  margin-top: 0.4rem;
}

.autocomplete-widget {
  ul {
    margin: 0;
    padding: 0;
  }
  input {
    margin-bottom: 0;
  }
}
