
.multiselect {
  input, select, button {
    display: block;
    width: 100%;
  }

  .selected {
    .none-selected {
      font-style: italic;
    }

    ul {
      list-style-type: none;
      // text-align: center;
      li {
        display: inline-block;
        margin: 0.3rem 0.3rem;
        background: #dde;
        padding: 0.4rem 0.8rem;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background: #e7e7f3;
        }
        
      }
    }
  }


}
