body {
  background: #f5f6f9;
}

div#main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 20px;
}

.copy, .helptip {
  font-size: 100%;
  line-height: 133%;
}
.copy p, .helptip p {
  margin-bottom: 0.75rem;
}
.copy ul, .helptip ul {
  padding-left: 1.5rem;
}
.copy ul li, .helptip ul li {
  margin-bottom: 0.75rem;
}

footer {
  background-color: #fff;
  margin-top: 4rem;
}
footer .footer-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.25rem 20px 12rem 0;
}
footer .footer-wrapper .footer-body {
  line-height: 150%;
}

.clear {
  clear: both;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

html {
  line-height: 100%;
  font-size: 16px;
  font-family: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

p {
  margin: 0;
}

a {
  color: #44b;
  border-bottom: 1px dotted #bbb;
  text-decoration: none;
  font-weight: 500;
}
a:visited {
  color: #228;
}

h1 {
  font-family: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 300%;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  hyphens: auto;
}

h2 {
  font-weight: normal;
  margin: 0.5rem 0 0 0;
  font-size: 200%;
  line-height: normal;
  hyphens: auto;
}

h3 {
  font-family: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0 0 0.75rem 0;
  display: block;
  border: none;
  line-height: 125%;
  hyphens: auto;
  font-size: 130%;
  font-weight: 500;
  font-style: normal;
}
h3::after {
  content: "";
  display: block;
  margin: 0.75rem -18px 0.75rem;
  border-bottom: 1px solid #eee;
}

.helptip-link {
  padding: 2px 0.5rem;
  color: #99b;
  float: right;
  border: none;
}

.helptip {
  display: none;
  font-size: 80%;
  width: 20rem;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #f1f2f3;
  padding: 0.75rem;
  padding-bottom: 0;
  left: 0px;
  top: 0px;
}
@media (max-width: 800px) {
  .helptip {
    width: auto;
  }
}
.helptip ul li {
  margin-bottom: 0;
}

.helptip-active {
  display: block;
  position: absolute;
}