doctype html
link(href='../static/css/normalize.css' rel='stylesheet' type='text/css')
link(href='../scss/grid.scss' rel='stylesheet' type='text/css')
link(href='../scss/font.scss' rel='stylesheet' type='text/css')
link(href='../scss/main.scss' rel='stylesheet' type='text/css')
link(href='../scss/ui.scss' rel='stylesheet' type='text/css')
script(src='https://cdn.jsdelivr.net/npm/d3')
script(src='https://cdn.jsdelivr.net/npm/d3-array')
script(src='https://cdn.jsdelivr.net/npm/d3-quadtree')
script(src='https://cdn.jsdelivr.net/npm/papaparse')
script(src='../dist/app.js')
title Coronavirus Data Plotter

#header-container
#body-container.container
  #main-container.grid
    header.grid__col.grid__col--6-of-6
      h1 Coronavirus Data Plotter
    main#ui
    footer.grid_cool.grid__col--6-of-6
#footer-container








