doctype html
link(href='../static/css/normalize.css' rel='stylesheet' type='text/css')
link(href='../scss/grid.scss' rel='stylesheet' type='text/css')
link(href='../scss/font.scss' rel='stylesheet' type='text/css')
link(href='../scss/main.scss' rel='stylesheet' type='text/css')
link(href='../scss/ui.scss' rel='stylesheet' type='text/css')
link(href='https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css' rel='stylesheet' type='text/css')
link(href='https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css' rel='stylesheet' type='text/css')
meta(charset="utf-8")
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
title Coronavirus Data Plotter

#header-container
#body-container.container
  #main-container.grid
    header.grid__col.grid__col--6-of-6
      // h1 Coronavirus Data Plotter
    main#ui.unloaded

    #welcome-text.grid__col.grid__col--6-of-6.dialog.welcome

      h3 Welcome!

      p
        | On this data portal, explore different aspects of COVID-19 /
        | Coronavirus time evolution. I put this together
        | because I saw a lot of different visualizations and data views over
        | many different sites but no nice way to explore them all within the
        | same tool. I hope this will be as helpful for you as it was for me!

      p
        | On this page you can set the x, y, color, and time axes to be different
        | aspects of the underling data, and also customize what regions to
        | display.  When you find a set of projections that you like,
        a.copylink(href='#')  copy a link to share
        |  or
        a.saveimage(href='#')  save the image
        |  to your computer!  If you find something interesting, I'd be
        a(href='https://twitter.com/mstk')  happy to hear from you
        | !

      p
        | For some examples of configurations that might be useful, check these out:

      ul
        li
          a.dataview(href='/?x=cno&y=ccccw3no&z=ccral50cnanif&t=tnd') Bhatia-Reich plots
          | , made famous by
          a(href='https://www.youtube.com/watch?v=54XLXg4fYsc' target="_blank")  this MinutePhysics video
          | .  Exponential growth shows up as a nice visual "highway" that regions
          | travel along, and it becomes very visually explicit when they exit
          | exponential growth.
        li
          a.dataview(href='/?x=dcccw7cccw7cmnif&y=dcccw7cmnif&z=ccral50cnanif&t=tnd') "Baserunner" Plots
          | , which I've found very helpful personally.  In this view, regions
          | all must move through a circular track, from "home base" at the bottom,
          | counter-clockwise; when they get back "home", they are out clear.
          | Set-backs will visually appear as
          | backtracking or getting lost, whereas effective control measures
          | appear as very fast motion.  It's somewhat inspired by Danny Dorling's infamous
          a(href='https://twitter.com/emmawage/status/1255172980788785152')  tornado plots
          | .  Being able to uncover interesting perspectives like this one
          | was one of the reasons I wanted to build this in the first place!
        li
          a.dataview(href='/?x=ccral50cnanif&y=cno&z=ccccmnif&t=tnd') Time-shifted plot
          | , an example of a basic transformation you can explore.  This
          | tweaks the X axis to display "days since 50 cases confirmed", so
          | that you can visually compare the relative progression based on
          | the "arrival" of COVID-19 to a given region.  There's also an
          | interesting color scale that highlights (in blue) the time periods
          | where growth was the largest in each region.

    footer.grid__col.grid__col--6-of-6
      // .footer-contents
      //   p Created by Justin Le.  Data from John Hopkins University.

#footer-container


script(src='https://cdn.jsdelivr.net/npm/d3@5.16.0')
script(src='https://cdn.jsdelivr.net/npm/d3-array@2.4.0')
script(src='https://cdn.jsdelivr.net/npm/d3-simple-slider@1.7.0')
// script(src='https://d3plus.org/js/d3plus.v2.0.0-alpha.25.full.min.js')
// script(src='https://d3plus.org/js/d3plus-text.v0.9.full.min.js')
script(src='https://cdn.jsdelivr.net/npm/save-svg-as-png@1.4.17')
script(src='https://cdn.jsdelivr.net/npm/papaparse@5.2.0')
script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.15')
script(src='https://cdn.jsdelivr.net/npm/toastify-js@1.7.0')
script(src='https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js')
// script(src='https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0')
script(src='../dist/app.js')
