doctype html
link(href='../static/css/normalize.css' rel='stylesheet' type='text/css')
link(href='../scss/grid.scss' rel='stylesheet' type='text/css')
link(href='../scss/font.scss' rel='stylesheet' type='text/css')
link(href='../scss/main.scss' rel='stylesheet' type='text/css')
link(href='../scss/ui.scss' rel='stylesheet' type='text/css')
script(src='https://cdn.jsdelivr.net/npm/d3@5.16.0')
script(src='https://cdn.jsdelivr.net/npm/d3-array@2.4.0')
// script(src='https://cdn.jsdelivr.net/npm/d3-quadtree@1.0.7')
script(src='https://cdn.jsdelivr.net/npm/d3-simple-slider@1.7.0')
script(src='https://cdn.jsdelivr.net/npm/save-svg-as-png@1.4.17')
// script(src='https://cdn.jsdelivr.net/npm/d3-svg-legend@2.25.6')
script(src='https://cdn.jsdelivr.net/npm/papaparse@5.2.0')
script(src='https://cdn.jsdelivr.net/npm/lodash@4.17.15')
script(src='../dist/app.js')
meta(charset="utf-8")
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
title Coronavirus Data Plotter

#header-container
#body-container.container
  #main-container.grid
    header.grid__col.grid__col--6-of-6
      h1 Coronavirus Data Plotter
    main#ui
    footer.grid__col.grid__col--6-of-6
      .footer-contents
        p Created by Justin Le.  Data from John Hopkins University.

#footer-container









